# ========================================================
# R / RStudio
# ========================================================
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# ========================================================
# Quarto temporary files
# ========================================================
.quarto/
*_files/

# ========================================================
# Computational cache
# ========================================================
cache/

# ========================================================
# Large raw CORINE datasets
# ========================================================
data_input/corine/*.tif
data_input/corine/*.tiff
data_input/corine/*.zip
data_input/corine/*.7z

# ========================================================
# Operating system files
# ========================================================
.DS_Store
Thumbs.db
